.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: rgb(231, 230, 230);
}
